.heroStyle {
    margin-bottom: 10px;
    padding: 10px;
    background-color: #EEEEEE;
    border-radius: 6px;
}

.floatRight {
    float: right
}

.boldText {
    font-weight: bold
}

.fontStyleItalic {
    font-style: italic;
}